option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: palestra/wsgi.py2

    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: palestra.settings

container_commands:
    database_migration:
        command: "python manage.py migrate --noinput"
    static_files:
        command: "python manage.py collectstatic --noinput -v 0"

commands:
    install_git:
        command: "yum install git -y"
